<!-- <header>
  <nav class="navbar navbar-expand-md navbar-dark fixed-top" style="background-color: #8691d3">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <span class="mr-1">prêtàtous</span>
      </a>

      <div>
        <ul class="navbar-nav">
          <li>
            <a class="nav-link item" routerLink="" routerLinkActiveOptions="true">Accueil</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle item" data-toggle="dropdown">Produits</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" routerLink="product/products-list">Produits</a>
              <a class="dropdown-item" routerLink="stagiaire">Stagiaire</a>
            </div>
          </li>
        </ul>
      </div>

      <button routerLink="/user/user-view">
        Afficher un user selon son id
      </button>
      <button routerLink="/user/user-edit/">Editer un compte user</button>
      <button routerLink="/user/user-add">Créer un compte user</button>

      <button routerLink="/user/users-list">Liste des users</button>

      <button routerLink="product/products-list">Liste des produits</button>

      <button routerLink="product/product-add">Déposer une annonce</button>

      <button routerLink="subscribe">S'inscrire</button>

      <a *ngIf="isConnected(); else notConnected">
        <button class="nav-link" (click)="isLogout()">Se déconnecter</button>
      </a>
      <ng-template #notConnected>
        <button class="btn btn-warning" routerLink="auth">Se connecter</button>
      </ng-template>
    </div>
  </nav>
</header> -->

<!-- Jumbotron -->
<!-- <mdb-card style="background-image: url('https://mdbootstrap.com/img/Photos/Others/forest2.jpg')"> -->

<!-- <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">

     <div class="navbar-header">
      <a class="navbar-brand">
        <img src="assets/img/logo.png" class="logo">
      </a>
      <span class="navbar-brand">Session Angular</span>
    </div> 
     <ul class="nav navbar-nav">
      <li class="active">
        <a href="#" class="nav-link item">Link</a>
      </li>
      <li class="dropdown" dropdown>
        <a class="nav-link item" dropdownToggle role="button">
          Dropdown <span class="caret"></span>
        </a>
        <ul *dropdownMenu class="dropdown-menu">
          <li><a class="nav-link item" style="color: #000" href="#">Action</a></li>
          <li><a class="nav-link item" style="color: #000" href="#">Another Action</a></li>
          <li><a class="nav-link item" style="color: #000" href="#">Something else</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Something link</a></li>
        </ul>
      </li>
    </ul>
  </div>
</nav> -->

<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <img src="../../assets/images/icons8-lend-96.png" alt="" width="50" height="50">
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="home"
          >PrêtàTous <span class="sr-only">(current)</span></a
        >
      </li>
    
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Produits
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="product/products-list">Liste des produits</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="product/product-add">Ajouter un produit</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Utilisateurs
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="user/users-list">Liste des utilisateurs</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="user/user-add">Ajouter un utilisateur</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Réservations
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="booking-add">Ajouter une demande de réservation</a>
          <a class="dropdown-item" routerLink="booking">Ajouter une réservation</a>
          <a class="dropdown-item" routerLink="loan">Ajouter un emprunt</a>
          <a class="dropdown-item" routerLink="return">Ajouter un retour</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
          Module upload Photos
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="photos">Liste des produits</a>
        </div>
      </li>
      
    </ul>

    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2 rounded-pill" type="search" placeholder="Recherche" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 rounded-pill" type="submit">Rechercher</button>
    </form>

    <button class="btn btn-warning rounded-pill" routerLink="product/product-add">Déposer une annonce</button>

    <a *ngIf="isConnected(); else notConnected">
      <button class="btn btn-danger rounded-pill" (click)="isLogout()">Se déconnecter</button>
    </a>
    <ng-template #notConnected>
      <button class="btn btn-warning rounded-pill" routerLink="auth">Se connecter</button>
    </ng-template>

    <!-- Search Bar -->

   

    <!-- <div class="content" role="main">
      <div class="card">
        <div class="form-group">
          <label for="search-text">Search Text</label>
          <input
            type="email"
            class="form-control"
            id="search-text"
            aria-describedby="search-text"
            [(ngModel)]="searchText"
            placeholder="Enter text to search"
            autofocus
          />
        </div>
        <ul class="list-group list-group-flush">
          <li
            class="list-group-item"
            *ngFor="let c of characters | appFilter: searchText"
          >
            {{ c }}
          </li>
        </ul>
      </div>
    </div> -->
  </div>
</nav>

<mdb-card>
  <!-- <div class="text-white text-center rgba-stylish-strong py-4 px-3"> -->
    <div class="jumbotron text-white text-center rgba-stylish-strong py-4 px-3 jumbotron-image shadow" style="background-image: url(https://images.unsplash.com/photo-1552152974-19b9caf99137?fit=crop&w=1350&q=80);">
    <div class="py-5">
      <h2 class="card-title h2 my-4 py-2">Prêt à tous</h2>
      <a mdbBtn class="rounded-pill" gradient="blue" routerLink="/help" mdbWavesEffect>
        <mdb-icon fas icon="clone" class="left"></mdb-icon> Mode d'emploi
      </a>
    </div>
  </div>
</mdb-card>
