<div class="container-fluid">
    <footer class="footer" >
        <a class="contact" routerLink="/contact-form">contact</a>
        <a class="help" style="cursor: pointer;" routerLink="/help">aide</a>
        <p class="copyright">&copy; Tous droits réservés <i>PrêtàTous</i> 2021</p>
        <a class="cgu" style="cursor: pointer;" routerLink="/terms-of-use">c.g.u</a>
        <a class="privacy" style="cursor: pointer;" routerLink="/privacy-policy" >politique de confidentialité</a>
    </footer>
</div>


