<div class="container my-4">

  <!-- https://mdbootstrap.com/docs/standard/components/carousel/#docsTabsOverview -->

  <hr class="my-4">

  <!--Carousel Wrapper-->
  <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" data-interval="4000">

    <!--Controls-->
    <div class="controls-top">
      <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left"></i></a>
      <a class="btn-floating" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right"></i></a>
    </div>
    <!--/.Controls-->

    <!--Indicators-->
    <ol class="carousel-indicators">
      <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
      <li data-target="#multi-item-example" data-slide-to="1"></li>
      <li data-target="#multi-item-example" data-slide-to="2"></li>
    </ol>
    <!--/.Indicators-->

    <ng-container *ngIf="productList">

      <!--Slides-->
      <div class="carousel-inner" role="listbox">

        <!--First slide-->

        <div class="carousel-item " *ngFor="let product of productList; let i = index" [ngClass]="{'active': i ==0}">
          <div class="row">
            <div class="col-md-4" *ngFor="let item of product; let j = index">
              <div class="card mb-2">
                <img class="card-img-top" [src]="item.image" alt="Card image cap">
                <div class="card-body text-center">
                  <h4 style="text-align: center;" class="card-title">{{item.title}}</h4>
                  <p class="card-text">{{item.description}}</p>
                  <a class="btn btn-primary rounded-pill" routerLink="/product/product-view/{{productList.id}}">Voir l'annonce</a>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <!--/.First slide-->
      </div>
      <!-- <pre>
        <code>
          {{productList | json}}
        </code>
      </pre> -->
      <!--/.Slides-->
    </ng-container>
  </div>
  <!--/.Carousel Wrapper-->