<!-- Default form contact -->
<div class="container">
    <br><br><br><br><br>


<form class="text-center border border-light p-5" [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <p class="h4 mb-4">Contacter nous</p>
  
    <!-- Name -->
    <input type="text" formControlName="contactFormName" id="defaultContactFormName" mdbInput
      class="form-control mb-4" placeholder="Votre nom">
  
    <!-- Email -->
    <input type="email" formControlName="contactFormEmail" id="defaultContactFormEmail" mdbInput
      class="form-control mb-4" placeholder="Votre e-mail">
  
    <!-- Subject -->
    <label>Sujet</label>
    <select formControlName="contactFormSubjects" class="browser-default custom-select mb-4">
      <option value="" disabled>Choisissez une option</option>
      <option value="1" selected>Demande de renseignement</option>
      <option value="2">Nous faire part d'un problème</option>
     
      
    </select>
  
    <!-- Message -->
    <div class="form-group">
      <textarea formControlName="contactFormMessage" class="form-control rounded-0" mdbInput id="exampleFormControlTextarea2"
        rows="3" placeholder="Votre message"></textarea>
    </div>
  
    <!-- Copy -->
    <!-- <mdb-checkbox [default]="true" class="mb-4">Envoyez moi une copie de ce mail</mdb-checkbox> -->
  
    <!-- Send button -->
    <button mdbBtn color="info" class="z-depth-0 my-4 waves-effect"
      mdbWavesEffect type="submit" [disabled]="disabledSubmitButton">Envoyer</button>
  
  </form>
  <!-- Default form contact -->
</div>