<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 style="text-align: center">Ajout d'un retour</h3>

            <form [formGroup]="returnForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="description">Emprunt:</label>
                    <input type="text" class="form-group rounded-pill" name="loan" formControlName="loan" />
                </div>
                <div class="form-group">
                    <label for="description">Produit:</label>
                    <input type="text" class="form-group rounded-pill" name="product" formControlName="product" />
                </div>

                <div class="form-group">
                    <label for="description">Prêteur:</label>
                    <input type="text" class="form-group rounded-pill" name="owner" formControlName="owner" />
                </div>

                <div class="form-group">
                    <label for="description">Emprunteur:</label>
                    <input type="text" class="form-group rounded-pill" name="loaner" formControlName="loaner" />
                </div>
                <div class="form-group">
                    <label for="description">Date de retour:</label>
                    <input type="text" class="form-group rounded-pill" name="dtRtn" formControlName="dtRtn" />
                </div>
                <div class="form-group">
                    <label for="description">Etat du produit:</label>
                    <input type="text" class="form-group rounded-pill" name="productStatus" formControlName="productStatus" />
                </div>

                <button class="btn btn-outline-success rounded-pill" type="submit" (clic)="onSubmit()">
                    Envoyer
                </button>
            </form>
        </div>
    </div>
</div>
