<div class="container-fluid">
  <h2 style="text-align: center">{{ product.titre }}</h2>
  <hr />
  <div *ngIf="product">
    <div><b>id: </b> {{ product.id }}</div>
    <div><strong>titre: </strong>{{ product.titre }}</div>
    <div><strong>description: </strong>{{ product.description }}</div>
    <div><strong>état du produit: </strong>{{ product.status }}</div>
    <div>
      <br>
      <ul
        class="productImg"
        *ngFor="let image of product.images; let i = index">
        <li><img [src]="image" width="25%" heigth="25%" [title]="image" /></li>
        <li><button class="btn btn-outline-success rounded-pill">Emprunter</button></li>
      </ul>
</div>
