<div class="container-fluid">
    <div class="row">
        <ng-container *ngIf="product">
            <div class="col-sm">
                <br>
                <h2 style="text-align: center">Editer ma fiche de prêt</h2>
                <form (ngSubmit)="updateProduct()">
                    <!-- <div class="form-group" >
                        Id: {{ product.id }}
                    </div> -->
                    <div>
                        <label for="title">Prête</label>
                        <input class="form-control rounded-pill" type="text" name="title" [(ngModel)]="product.title" required />
                    </div>
                    
                    <div>
                        <label for="owner">Owner</label>
                        <input class="form-control rounded-pill" type="input" name="owner" [(ngModel)]="product.owner"
                            />
                    </div>
                    <div>
                        <label for="ownerPseudo">OwnerPseudo</label>
                        <input class="form-control rounded-pill" type="input" name="ownerPseudo" [(ngModel)]="product.ownerPseudo"
                            />
                    </div>

                    <div>
                        <label for="status">Status</label>
                        <input class="form-control rounded-pill" type="input" name="status" [(ngModel)]="product.status"
                            />
                    </div>
                    <div>
                        <label for="available">Disponible?</label>
                        <input class="form-control rounded-pill" type="input" name="available" [(ngModel)]="product.available"
                            />
                    </div>
                    
                    <br>
                    <div >
                        <label for="image">Image</label>
                        <input class="form-control rounded-pill" type="text" [(ngModel)]="product.image"  name="image" />
                        <img [src]="product.image" title="Image produit" class="thumbnail" >
                    </div>

            
                    <div>
                        <label for="description">Description</label>
                        <textarea rows="10" class="form-control" type="text" name="description" [(ngModel)]="product.description"
                            required></textarea>
                    </div>

                    <button class="btn btn-primary rounded-pill"  type="submit">Enregistrer</button>
                    <button class="btn btn-primary rounded-pill" (click)="backToProductList()">Revenir à ma liste</button>
                </form>
            </div>
            <!-- <pre><code>
                {{ product | json }}
            </code></pre> -->
        </ng-container>
       
    </div>
</div>