<div class="container-fluid">

    <br><br><br>
    
    <div class="row">
        <div class="col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 mb-1"></div>
  
        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 mb-2">
          <div class="w-75 card bg-light mb-3">
            <div class="card-header">
              <div class="row">
                <div style="text-align: center" class="col-12 col-xl-12">
                  <h6 class="mat-card-content" style="font-size: 12px;">
                    Mes demandes de Réservations
                  </h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 mb-1"></div>

        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 mb-2">
            <div class="w-75 h- card bg-light mb-3">
              <div class="card-header">
                <div class="row">
                  <div style="text-align: center" class="col-12 col-xl-12">
                    <h6 class="mat-card-content" style="font-size: 12px;">
                      Mes Réservations
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

        <div class="col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 mb-1"></div>

        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 mb-2">
            <div class="w-75 card bg-light mb-3">
              <div class="card-header">
                <div class="row">
                  <div style="text-align: center" class="col-12 col-xl-12">
                    <h6 class="mat-card-content" style="font-size: 12px;">
                      Mes Prêts
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-12 col-sm-1 col-md-1 col-lg-1 col-xl-1 mb-1"></div>

        <div class="col-12 col-sm-2 col-md-2 col-lg-2 col-xl-2 mb-2">
            <div class="w-75 card bg-light mb-3">
              <div class="card-header">
                <div class="row">
                  <div style="text-align: center" class="col-12 col-xl-12">
                    <h6 class="mat-card-content" style="font-size: 12px;">
                      Mes Retours
                    </h6>
                  </div>
                </div>
              </div>
            </div>
          </div>


    </div>
</div>
