<div class="container">
    <div class="row">
        <div class="col-sm">
            <h3 style="text-align: center">Ajout d'un emprunt</h3>

            <form [formGroup]="loanForm" (ngSubmit)="onSubmit()">
                <div class="form-group">
                    <label for="description">Réservation:</label>
                    <input type="text" class="form-group rounded-pill" name="booking" formControlName="booking" />
                </div>
                <div class="form-group">
                    <label for="description">Product:</label>
                    <input type="text" class="form-group rounded-pill" name="product" formControlName="product" />
                </div>

                <div class="form-group">
                    <label for="description">Prêteur:</label>
                    <input type="text" class="form-group rounded-pill" name="owner" formControlName="owner" />
                </div>

                <div class="form-group">
                    <label for="description">Emprunteur:</label>
                    <input type="text" class="form-group rounded-pill" name="loaner" formControlName="loaner" />
                </div>
                <div class="form-group">
                    <label for="description">Début de la demande de réservation:</label>
                    <input type="text" class="form-group rounded-pill" name="dtBkingStart" formControlName="dtBkingStart" />
                </div>
                <div class="form-group">
                    <label for="description">Fin de la demande de réservation:</label>
                    <input type="text" class="form-group rounded-pill" name="dtBkingEnd" formControlName="dtBkingEnd" />
                </div>
                <div class="form-group">
                    <label for="description">Status:</label>
                    <input type="text" class="form-group rounded-pill" name="status" formControlName="status" />
                </div>

                <button class="btn btn-outline-success rounded-pill" type="submit" (clic)="onSubmit()">
                    Envoyer
                </button>
            </form>
        </div>
    </div>
</div>
